/* CSS for styling my web app */
html {
	background-color: lightblue;
}

.container {
	background-color: white;
	margin: auto;
	max-width: 700px;
	padding: 25px;
    overflow-x: auto;
    overflow-y: auto;
}

h1 {
	font-size: 3em;
	text-align: center;
}

h2 {
	text-align: center;
}

select {
	border: none;
	border-radius: 4px;
	font-size: 1em;
	margin: 0px 8px 8px 8px;
}

select:focus {
	border-color: #4dac71;
	box-shadow: 0 0 0 1px #4dac71;
}

table.center {
	margin: auto;
}

.right {
	text-align: right;
}

td a {
	color: white;
	text-decoration: none;
}

td a:hover{
	text-decoration: underline;
}

td.easy {
	background-color: green;
	border-radius: 4px;
	color: white;
}

td.easy:before {
	content: '\25CF\0020'; /* 26AB works fine on Chrome; for Firefox and Safari, use \25CF. */
}

td.intermediate {
	background-color: blue;
	border-radius: 4px;
	color: white;
}

td.intermediate:before {
	content: '\25FC\0020'; /* 25FC works fine on chrome and firefox, but has problems on android chrome. 25FB works on android, but is hollow on chrome. */
}

td.advanced {
	background-color: black;
	border-radius: 4px;
	color: white;
}

td.advanced:before {
	content: '\25C6\0020';
}

td.expert {
	background-color: gray;
	border-radius: 4px;
	color: white;
}

td.expert:before {
	content: '\25C6\25C6\0020';
}

td.underline {
	border-bottom: 1px solid black;
}
