{% extends "layout.html" %}


{% block menu %}
<form method="GET">

  <p>(Optional) filter by resort/mountain</p>
  <!-- resort dropdown menu -->
    <select name="resort" onchange="this.form.submit()">
	<option value="0"
			{% if selectedresort == 0 %} selected {% endif %}>
	  All resorts</option>
	{% for resort,name in resortsbyname %}
	<option value="{{ resort }}"
			{% if selectedresort|int == resort %} selected {% endif %}>
	  {{ name }}</option>
	{% endfor %}
	</select>
	<!-- end dropdown menu -->

	<br>

	<!-- trail dropdown menu -->
  <select name="trail" onchange="this.form.submit()">
	<option value="default"
			{% if selectedtrail == '' %} selected {% endif %}
			disabled hidden>Select a trail...</option>
	{% for trail,name in trailsbyname %}
	{% set resortid = traillist[trail]['resort_id'] %}
	<option value="{{ trail }}" class="{{ resortid }}"
			{% if selectedresort|int != 0 and resortid != selectedresort|int %} hidden
			{% elif selectedtrail==trail %} selected {% endif %}>
	  {{ name }}</option>
	{% endfor %}
  </select>
  <!-- end dropdown menu -->
</form>
{% endblock %}


{% block analysis %}
{% if selectedtrail %}
{% set trailname = traillist[selectedtrail]['name'] %}
{% set resortname = traillist[selectedtrail]['resort_name'] %}
{% set state = traillist[selectedtrail]['state'] %}
{% set rating = traillist[selectedtrail]['rating'] %}
<hr>
<h2>{{ trailname }} ({{ resortname }}{% if state != 'UNKNOWN' %}, {{ state }}{% endif %})</h2>
<!-- <p>The ID of this trail is: {{ traillist[selectedtrail]['id'] }}.</p> -->
<table>
  <tr>
	<td>Trail rating:</td>
	<td class="{{ rating }}">{{ rating }}</td>
  </tr>
  <!--
  <tr>
	<td class="underline">Trail type:</td>
	<td class="underline">{{ traillist[selectedtrail]['label'] }}</td>
  </tr>
-->
  <tr>
	<td>Length:</td>
	<td>{{ '%5.0f' % traillist[selectedtrail]['length'] }} meters</td>
  </tr>
  <tr>
	<td>Slope:</td>
	<td>{{ '%3.1f' % (traillist[selectedtrail]['slope'] * 100.0) }} % (max {{ '%3.1f' % (traillist[selectedtrail]['max_slope'] * 100.0) }} %)</td>
  </tr>
  <tr>
	<td>Slope variability:</td>
	<td>{{ '%3.1f' % (traillist[selectedtrail]['spread'] * 100.0) }} %</td>
  </tr>
  <tr>
	<td>Curvature:</td>
	<td>{{ '%3.2f' % traillist[selectedtrail]['sinuosity'] }}</td>
  </tr>
  <tr>
	<td>Turns per km:</td>
	<td>{{ '%3.2f' % traillist[selectedtrail]['inflect'] }}</td>
  </tr>
</table>
{% endif %}
{% endblock %}


{% block similar %}
{% if selectedtrail %}
<hr>
<h2>Trails similar to {{ traillist[selectedtrail]['name'] }}:</h2>

<h3>Within 100 miles:</h3>
{% if traillist[selectedtrail]['neighbors_near']|length == 0%}
<p>Well, it seems there aren't any good matches nearby!</p>
{% else %}
<table>
  <tr>
	<td>Name</td>
	<td>Resort</td>
	<td>Length</td>
	<td>Slope</td>
	<td>Variability</td>
	<td>Curvature</td>
	<td>Turns/km</td>
  </tr>
  {% for neighbor in traillist[selectedtrail]['neighbors_near'] %}
  <tr>
	<td class="{{ traillist[neighbor[0]|string]['rating'] }}"><a href="?resort=0&trail={{ neighbor[0] }}">{{ traillist[neighbor[0]|string]['name'] }}</a></td>
	<td>@ {{ traillist[neighbor[0]|string]['resort_name'] }}</td>
	<td>{{ '%5.0f' % traillist[neighbor[0]|string]['length'] }}m</td>
	<td>{{ '%3.1f' % (traillist[neighbor[0]|string]['slope'] * 100.0) }}%</td>
	<td>{{ '%3.1f' % (traillist[neighbor[0]|string]['spread'] * 100.0) }}%</td>
	<td>{{ '%3.2f' % traillist[neighbor[0]|string]['sinuosity'] }}</td>
	<td>{{ '%3.2f' % traillist[neighbor[0]|string]['inflect'] }}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<h3>Within the whole United States:</h3>
{% if traillist[selectedtrail]['neighbors_usa']|length == 0 %}
<p>Hmm... actually, this trail appears to be in a class of its own!</p>
{% else %}
<table>
  <tr>
	<td>Name</td>
	<td>Resort</td>
	<td>Length</td>
	<td>Slope</td>
	<td>Variability</td>
	<td>Curvature</td>
	<td>Turns/km</td>
  </tr>
  {% for neighbor in traillist[selectedtrail]['neighbors_usa'] %}
  <tr>
	<td class="{{ traillist[neighbor[0]|string]['rating'] }}"><a href="?resort=0&trail={{ neighbor[0] }}">{{ traillist[neighbor[0]|string]['name'] }}</a></td>
	<td>@ {{ traillist[neighbor[0]|string]['resort_name'] }}</td>
	<td>{{ '%5.0f' % traillist[neighbor[0]|string]['length'] }}m</td>
	<td>{{ '%3.1f' % (traillist[neighbor[0]|string]['slope'] * 100.0) }}%</td>
	<td>{{ '%3.1f' % (traillist[neighbor[0]|string]['spread'] * 100.0) }}%</td>
	<td>{{ '%3.2f' % traillist[neighbor[0]|string]['sinuosity'] }}</td>
	<td>{{ '%3.2f' % traillist[neighbor[0]|string]['inflect'] }}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}
{% endif %}
{% endblock %}


{% block shifted %}
{% if selectedtrail %}
<hr>
<h2>Okay, but I want a trail that is...</h2>
{% set shifts = traillist[selectedtrail]['shifted'] %}
<table class="center">

  <tr>
	<td class="{{ traillist[shifts['length_down'][0]|string]['rating'] }}">
	  <a href="?resort=0&trail={{ shifts['length_down'][0] }}">
		{{ traillist[shifts['length_down'][0]|string]['name'] }}
	  </a>
	</td>
	<td>❰Shorter</td>
	<td class="right">Longer❱</td>
	<td class="{{ traillist[shifts['length_up'][0]|string]['rating'] }}">
	  <a href="?resort=0&trail={{ shifts['length_up'][0] }}">
		{{ traillist[shifts['length_up'][0]|string]['name'] }}
	  </a>
	</td>
  </tr>

  <tr>
	<td class="{{ traillist[shifts['slope_down'][0]|string]['rating'] }}">
	  <a href="?resort=0&trail={{ shifts['slope_down'][0] }}">
		{{ traillist[shifts['slope_down'][0]|string]['name'] }}
	  </a>
	</td>
	<td>❰Flatter</td>
	<td class="right">Steeper❱</td>
	<td class="{{ traillist[shifts['slope_up'][0]|string]['rating'] }}">
	  <a href="?resort=0&trail={{ shifts['slope_up'][0] }}">
		{{ traillist[shifts['slope_up'][0]|string]['name'] }}
	  </a>
	</td>
  </tr>

  <tr>
	<td class="{{ traillist[shifts['spread_down'][0]|string]['rating'] }}">
	  <a href="?resort=0&trail={{ shifts['spread_down'][0] }}">
		{{ traillist[shifts['spread_down'][0]|string]['name'] }}
	  </a>
	</td>
	<td>❰Less varied</td>
	<td class="right">More varied❱</td>
	<td class="{{ traillist[shifts['spread_up'][0]|string]['rating'] }}">
	  <a href="?resort=0&trail={{ shifts['spread_up'][0] }}">
		{{ traillist[shifts['spread_up'][0]|string]['name'] }}
	  </a>
	</td>
  </tr>

  <tr>
	<td class="{{ traillist[shifts['sinu_down'][0]|string]['rating'] }}">
	  <a href="?resort=0&trail={{ shifts['sinu_down'][0] }}">
		{{ traillist[shifts['sinu_down'][0]|string]['name'] }}
	  </a>
	</td>
	<td>❰Less curved</td>
	<td class="right">More curved❱</td>
	<td class="{{ traillist[shifts['sinu_up'][0]|string]['rating'] }}">
	  <a href="?resort=0&trail={{ shifts['sinu_up'][0] }}">
		{{ traillist[shifts['sinu_up'][0]|string]['name'] }}
	  </a>
	</td>
  </tr>

  <tr>
	<td class="{{ traillist[shifts['inflect_down'][0]|string]['rating'] }}">
	  <a href="?resort=0&trail={{ shifts['inflect_down'][0] }}">
		{{ traillist[shifts['inflect_down'][0]|string]['name'] }}
	  </a>
	</td>
	<td>❰Less turny</td>
	<td class="right">More turny❱</td>
	<td class="{{ traillist[shifts['inflect_up'][0]|string]['rating'] }}">
	  <a href="?resort=0&trail={{ shifts['inflect_up'][0] }}">
		{{ traillist[shifts['inflect_up'][0]|string]['name'] }}
	  </a>
	</td>
  </tr>

</table>

{% endif %}
{% endblock %}
