<!doctype html>
<html>
  <head>
    <title>TrailBlazr</title>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous"> -->
    <!-- Add custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
  </head>

  <body>

	<div class="container">
	  <h1><u>TrailBlazr</u></h1>
	  <h2>Ski informed.</h2>
      <div class="row">
		<div class="col-12">
		  <h3>Select a trail</h3>
          {% block menu %} 
          {% endblock %}
		</div>
      </div> <!-- end of row -->

	  <div class="row">
		{% block analysis %}
		{% endblock %}
	  </div>

	  <div class="row">
		{% block similar %}
		{% endblock %}
	  </div>
	</div> <!-- end "container" -->
	<a href="https://docs.google.com/presentation/d/1oLRa3wqMAGlFclMiQVWqNiiaz-KjaarAPGSBcfo_cyE/edit?usp=sharing">Presentation</a>
	| <a href="https://github.com/dsklein/Trailblazr">Source Code</a>
  </body>
</html>
